In [3]:
import pandas as pd

In [7]:
## adding column to dataframe

In [11]:
temp_1=pd.Series([70,80])
temp_2=pd.Series([71,91])
df=pd.DataFrame([temp_1,temp_2],columns=["A","B"]) ##we get output as nan because pandas bydefault not return any value 
df                                                 ##this can be solved by two methods 

##frist method 
##assign the column names to the columns property
##use dictionary where the key are the column names and the value for each key in a series

    A   B
0 NaN NaN
1 NaN NaN

In [14]:
##first method
temp_1=pd.Series([70,80])
temp_2=pd.Series([71,91])
df=pd.DataFrame([temp_1,temp_2])
df.columns=["a","b"]
df

    a   b
0  70  80
1  71  91

In [15]:
##second method
temp_1=pd.Series([70,80])
temp_2=pd.Series([71,91])
df=pd.DataFrame({"A":temp_1,"B":temp_2})
df

    A   B
0  70  71
1  80  91