In [1]:
#dataframes in pandas

In [12]:
import pandas as pd
import numpy as np
import random as r

In [5]:
##syntax
#pandas.DataFrame(data=None, index=Nonecolumns=None,copy=None)

In [10]:
data=np.random.randint(3,100,[4,3])
df=pd.DataFrame(data)

In [11]:
df

    0   1   2
0  12  60  53
1  28  25  35
2  61  68  15
3  64  58  61

In [3]:
result=pd.DataFrame([1,2,3],[4,5,6])
result

   0
4  1
5  2
6  3

In [16]:
x=r.choice(5)
y=np.arange()
a=pd.DataFrame(x,y)
a

TypeError: object of type 'int' has no len()