In [3]:
##overview of arthimetic operations 
#additon
#subtraction
#multiplication
#divison 
#floor div
#modulo div

In [4]:
import pandas as pd
import numpy as np

In [5]:
result=pd.Series(data=[5,np.nan,15],index=['a','b','c'])

In [6]:
result

a     5.0
b     NaN
c    15.0
dtype: float64

In [9]:
data=result+3   #additon using addmethod()
data

a     8.0
b     NaN
c    18.0
dtype: float64

In [11]:
result.sub(5) #subtraction

a     0.0
b     NaN
c    10.0
dtype: float64

In [12]:
result.mul(2) #multiplication

a    10.0
b     NaN
c    30.0
dtype: float64

In [15]:
result.div(5)  #division

a    1.0
b    NaN
c    3.0
dtype: float64

In [16]:
data=pd.Series([3,4,5,6,7,8,9])

In [17]:
data.floordiv(2)   #floor diviation

0    1
1    2
2    2
3    3
4    3
5    4
6    4
dtype: int64

In [18]:
data.div(2)

0    1.5
1    2.0
2    2.5
3    3.0
4    3.5
5    4.0
6    4.5
dtype: float64

In [20]:
data.mod(2)   #modulo funtion

0    1
1    0
2    1
3    0
4    1
5    0
6    1
dtype: int64