In [1]:
import pandas as pd

In [4]:
temp_1=[20,30]
temp_2=[40,25]
df=pd.DataFrame([temp_1,temp_2])
df.columns=['a','b']

In [5]:
df

    a   b
0  20  30
1  40  25

In [6]:
temp_1=[20,30]
temp_2=[40,50]
df=pd.DataFrame({"a":temp_1,"b":temp_2})
df

    a   b
0  20  40
1  30  50

In [ ]:
df=pd.read_csv(r"C:\Users\Admin\Desktop\excelfiles\annual-enterprise-survey-2021-financial-year-provisional-csv.csv")
df.head(2)

In [14]:
temp=df.columns
temp

Index(['Year', 'Industry_aggregation_NZSIOC', 'Industry_code_NZSIOC',
       'Industry_name_NZSIOC', 'Units', 'Variable_code', 'Variable_name',
       'Variable_category', 'Value', 'Industry_code_ANZSIC06'],
      dtype='object')

In [15]:
temp=df.index
temp

RangeIndex(start=0, stop=41715, step=1)

In [16]:
temp=df.dtypes
temp

Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [29]:
df."Year"

SyntaxError: invalid syntax (1246080452.py, line 1)