##solve the questions by using any csv file(import from chrom) 
#1.create dataframe add the columns to the data frame with any two methods# **
#2.import a csv file and perform extration operation column,index,data,dtypes**
#3.perform extration of column by selecting from dataframe by three methods and write the methods names**
#4.perform rename funtion in csv file and write the use of rename funtion**
#5.perform changing the index funtion in csv file**
#6.assign the values to the dataframe in csv file**
#7.combine the two column and make it into column in csv file**
#8.find out the missing values in the csv file of any column**
#9.what is use of drop method and apply to the csv file and write the difference between delete and drop method**
#10.find the location of column and insert the new column in particular location

In [1]:
import pandas as pd

In [8]:
data=pd.read_csv(r"C:\Users\Admin\Desktop\excelfiles\Book1.csv")

In [148]:
#data

In [39]:
#3.perform extration of column by selecting from dataframe by three methods and write the methods names
#index method
#attribute method
#.loc and .iloc method
#data["Genre"]   ##index method

In [28]:
#data.Genre   ##by attribute method

In [27]:
#data.loc[:,"Genre"]  ##by .loc method is used to extract the column of the dataframe

In [26]:
#data.iloc[:,2:5]  ##it result in range of columns that you given inthe .iloc method

In [24]:
##2 performing the diffrent methods in the dataframe
#column,index,data,dtypes
#data.columns

In [25]:
#data.index

In [23]:
#data.Genre.to_numpy()

In [40]:
#data.dtypes

In [41]:
#1.create dataframe add the columns to the data frame with any two methods

In [71]:
temp_1=pd.Series([1,2,3,66,8])
temp_2=pd.Series([6,5,4,4,])
result=pd.DataFrame({"a":temp_1,"b":temp_2})
#result

In [133]:
#4.perform rename funtion in csv file and write the use of rename funtion
#rename funtion is used to set the names of the columns and index according to our wish
col={"Genre":"movie_name",
      "Lead Studio":"Ld",
      "Profitability":"profits",
      "Rotten Tomatoes %":"rating",
     "Unnamed: 8":"integer" }

In [85]:
#status_result.Gonor

In [147]:
status_result=data.rename(columns=col)
#status_result

In [135]:
tem=status_result.set_index("movie_name")

In [185]:
#5.perform changing the index funtion in csv file
#we will perform index changing index and allocating the index
#status_result.set_index("Gonor")
index_change={"Zack and Miri Make a Porno":"salar",
               "Youth in Revolt":"Dear comred",
             "You Will Meet a Tall Dark Stranger":"geetha govindham",
            "When in Rome":"arjun reddy"}
columns={"movie_name":"movie"}
status_result=tem.rename(index=index_change)
#status_result

In [186]:
#status_result.info()

In [142]:
total=status_result["integer"]+status_result["profits"]

In [144]:
#6.assign the values to the dataframe in csv file
#by assigning method we can create a separete column by applying mathematical operations and we can aso set the name of columns
#status_result.assign(total=total)

In [157]:
#8.find out the missing values in the csv file of any column
#this method is used to know the columns contains NaN values and by default it result true for the nan values
#by default it gives it gives false
##.isna().sum() is used to return the number of nan values present in the columns 
#status_result.isna().sum()

In [187]:
#status_result.columns

In [162]:
#9.what is use of drop method and apply to the csv file and write the difference between delete and drop method
#the main difference between drop and del method is used drop method cannot distrub the main dataframe 
#del method directly applicable to dataframe so once the item is deleted we can return it back
status_result=status_result.drop(columns="Ld")

In [188]:
#status_result.info()

In [189]:
#10.find the location of column and insert the new column in particular location
count=status_result.columns.get_loc("Year")+1
#count

In [181]:
status_result.insert(loc=count,column='kou',value=status_result["profits"]*status_result["integer"])

In [183]:
status_result=status_result.drop(columns="kou")

In [190]:
#status_result

In [191]:
print("The end of exam")

The end of exam